body {
    background-color: rgb(245, 245, 240);
}

#title h1 {
    font-family: 'Zen Kurenaido', sans-serif;
    padding-left: 15px;
    
}

h1 {
    font-family: 'Zen Old Mincho', serif;
}

p {
    font-family: 'Zen Maru Gothic', sans-serif;
}

#crypto-ticker {
    animation-iteration-count: infinite;
    padding: 10px 0px;
}


#featured-coin, #crypto-dash {
    display: inline-block;
    
}

#featured-coin {
    float: left;
    width: 50%;
    text-align: center;
  }

#crypto-dash {
    float: right;
    width: 50%;
    text-align: center; 
   
}



.bottom-container {
    float: left;
    width: 100%;
}


.btn {
    background-color: #3e4043;
    color: white;
    border-color: white;

}

#crypto-table-list {
    width: 90%;
}











