body{
    margin: 15px;
}
img {
    max-width: 20%;
}


.crypto-scroll{
    background-color: white;
    /* background-color: rgb(212, 212, 212); */
    padding-left: 10px;
    animation: marquee 8s linear infinite;
    overflow:hidden
}

#featured-coin, #crypto-dash {
    display: inline-block;
    border: solid;
}

#featured-coin{
    width: 45%;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:10px;
    
}

#crypto-dash {
    float: right;
    border: solid;
    width: 50%; 
}

input {
    width: 100%;
}

#search-bar {
    width: 50%;
    margin-bottom: 5px;
}

.btn {
    background-color: #3e4043;
    color: white;
    border-color: white;

}

#crypto-table-list {
    
    width: 90%;
}

    
    
    
    
    /* max-width: 20%;
 }
 
 #ticker{
     background-color: rgb(212, 212, 212);
     padding-left: 10px;
     margin-bottom: 20px;
     width: 70%;
     float: right;
     border-radius: 10px;
 }
 
 #featured-coin, #crypto-dash {
     display: inline-block;
 }
 
 #featured-coin {
     border: solid;
     float: left;
     width: 50%;
   }
 
 #crypto-dash {
     float: right;
     border: solid; 
 }
 
 input {
     margin-top: 10px;
 }
 
 .bottom-container {
     float: left;
     width: 100%;
 } */