
/* title styles */
#title h1 {
    font-family: 'Zen Kurenaido', sans-serif;
    padding-left: 15px;
    color: rgb(47, 112, 210);
    font-weight: bold;
    
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
}
/* body styles */

body {
    font-family: 'Inconsolata', monospace;
    font-weight: 200;
    background-color: rgb(245, 245, 240);
}
/* ticker */

#crypto-ticker {
    animation-iteration-count: infinite;
    padding: 10px 0px;
}

/* featured and fav crypto styles */

#featured-coin, #crypto-dash {
    display: inline-block;
    
}

#featured-coin {
    float: left;
    width: 48%;
    text-align: center;
    padding: 50px; 
}


/* crypto favs */

#crypto-dash {
    float: right;
    width: 50%;
    text-align: center;
    padding: 50px; 
   
}


/* vertical divider */
.vl {
    border-left: 6px dotted rgb(47, 112, 210);
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 280px;
  }



/* search styles */
#search-bar {
    float:left;
    width: 100%;
    margin-bottom: 5px;
}

.btn {
    background-color: #3e4043;
    color: white;
    border-color: white;
}
/* table styles */

#crypto-table-list {
    
    width: 90%;
}

    
    
    
    
  